<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="user" class="com.owen.entity.User">
		<property name="id" value="10000"/>
		<property name="name" value="Owen"/>
		<property name="age" value="100"/>
		<property name="teachers" >
			<set>
				<ref bean="teacher"/>
			</set>
		</property>
	</bean>

	<bean id="teacher" class="com.owen.entity.Teacher">
		<property name="id" value="10001"/>
		<property name="name" value="mashibing"/>
		<property name="age" value="100"/>
	</bean>

	<bean id="myBeanFactoryPostProcessor" class="com.owen.processors.MyBeanFactoryPostProcessor"/>
	<bean id="myBeanDefinitionRegistryPostProcessor" class="com.owen.processors.MyBeanDefinitionRegistryPostProcessor"/>
</beans>